<div class="collectionCardProt">
    <div>
        <img src="{{collectionImage}}" alt="item Picture">
    </div>
    <div>
        <h5>{{collectionName}}</h5>
        <!--<p>Quantity: {{itemQuantity}} items</p>-->
        <a id="collectionButtonCard" href="/collection/{{_id}}" class="stretched-link"></a>
        <i class="bi bi-arrow-right"></i>
    </div>
</div>