<div class="collectionCardProt">
    <div>
        <img src="{{collectionImage}}" alt="item Picture">
    </div>
    <div>
        <h5>{{collectionName}}</h5>
        <!--<p>Quantity: {{itemQuantity}} items</p>-->
        <a href="/collection/{{_id}}" class="btn btn-primary">Details</a>

    </div>
</div>