<div class="itemCardProt">
        <div>
            <img src="{{itemImage}}" alt="item Picture">
        </div>
        <div>
            <h5>{{itemName}}</h5>
            <p>Quantity: {{itemQuantity}} items</p>
            <a class="stretched-link" href="/item/{{_id}}"></a>
            <i class="bi bi-arrow-right"></i>
        </div>
</div>