<div id="homeCont">

    <div id="homeUpperDiv">
        <h3>MyStock</h3>
    </div>

    <div id="collectionCardQ">
        <div>
            <img src="/images/iconbox.png" alt="icon-collection" id="icon-box">
        </div>
        <div>
            <h5>Collections</h5>
            {{!-- {{#each _userCollections}} --}}
            <p>Total quantity: {{quantityHome.collectQ}}</p>
            {{!-- {{/each}} --}}
            <a href="/collection" class="btn">Details</a>
        </div>
    </div>

    <div id="itemCardQ">
        <div>
            <img src="/images/iconbox2.png" alt="icon-item" id="icon-box">
        </div>
        <div>
            <h5>Items</h5>
            <p>Total quantity: {{quantityHome.itemQ}}</p>
            <a href="/items" class="btn">Details</a>
        </div>
    </div>

    {{> navBar}}
    {{> sideBar}}
</div>