<div class="userProfile">
    <div>
        <img src="{{userIn.profilePicture}}" alt="userPicture">
    </div>

    <div class="user-info">
        <h1>Name/Company: {{userIn.name}}</h1>
        <h2>Email: {{userIn.email}}</h2>
        <h2>Password: {{userIn.password}}</h2>
        <a class="btn btn-dark btn-sm" href="/user-edit">Edit profile</a>
    </div>
</div>