<div id="collectionView">

    <div id="collectionUpperDiv">
        <h3>Collections</h3>
    </div>

    {{#if collections}}
    <div id="collectionViewer">
        {{#each collections}}
            {{> collectionsCard}} 
        {{/each}}
        </div>
        <a href="/collection-add" class="addNewIcon newIconNotEmpty">+</a>
    {{else}}
        <div id="emptyCollection">
            <h5>Add a new Collection</h5>
            <a href="/collection-add" class="addNewIcon">+</a>
        </div>
    {{/if}}

    {{> navBar}}
    {{> sideBar}}
</div>