/*
Colors:
white: #FEFEFF
letter-grey: #4C4B4B
*/

html {
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#genContainer {
  padding: 0px;
  display: flex;
  justify-content: center;
}

/* Mobile style */
@media (min-width: 280px) {
  /* Containers Style */
  #signupCont,
  #loginCont,
  #homeCont,
  #newItemForm,
  #itemDetailsCont, 
  #editItemForm,
  #collectionView,
  #userProfile,
  #userProfileEdit,
  #userEdit,
  #collectionDetailsCont,
  #newCollectionForm,
  #editCollectionForm,
  #userPasswordEdit {
    width: 100%;
    height: 100vh;
    padding: 0 30px;
  }

  /* Signup and Login common Style */
  #signupCont h3,
  #loginCont h3 {
    font-weight: 900;
    margin: 40px 0;
    color: rgb(250, 248, 242);
  }

  #signupCont p, #loginCont p {
    color: rgb(27, 27, 27);
  }
  #signupCont p > a, #loginCont p > a {
    color: rgb(233, 233, 233);
  }

  /* Error Messages Alert Style */
  .errorMessageCont {
    height: 90px;
    margin: 15px 0 40px;
    position: relative;
    box-sizing: border-box;
    padding: 10px 30px 10px 40px;
    /* background-color: rgb(255, 255, 255); */
    background-color: rgba(255, 255, 255, 0.692);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* box-shadow: 3px 3px 8px #9e9e9e94; */
  }

  .errorMessageCont h5 {
    font-size: 15px;
    margin: 0;
    font-weight: 600;
    color: rgb(10, 10, 10);
  }

  .errorMessageCont p {
    font-size: 13px;
    font-weight: 100;
    color: rgb(85, 85, 85);
    margin: 0;
  }

  .errorMessageCont span:first-child {
    background-color: rgb(255, 71, 71);
    color: white;

    text-align: center;
    line-height: 27px;
    font-size: 23px;
    font-weight: 900;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 7px;

    height: 27px;
    width: 27px;
    border-radius: 50%;
  }

  .errorMessageCont a {
    color: black;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 15px;
    font-size: 18px;
    font-weight: 900;
  }

  /*Home*/
  #homeCont .bi-clouds,
  #homeCont .bi-cloud {
    font-size: 7rem;
    margin: 20px 30px;
  }





  /* Input Style */
  input:-webkit-autofill {
    -webkit-text-fill-color: black;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: black;
  }

  ::placeholder {
    color: rgb(163, 163, 163);
    font-weight: 200;
  }

  .inputDiv {
    position: relative;
    padding: 0;
    margin: 30px 0 5px;
  }

  .inputDiv input {
    width: 100%;
    height: 60px;
    padding: 18px 10px;
    margin: 0;

    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;

    font-size: 1rem;
    font-weight: 600;
    color: black;
  }

  .inputDiv input:focus {
    outline: none !important;
  }

  .fillingOut {
    border: 1px solid rgb(68, 68, 68);
    padding: 25px 9px 11px !important;
  }

  .fillingOut:focus {
    border: 2px solid rgb(173, 74, 152);
    padding: 24px 8px 10px;
  }

  .emptyField {
    border: 2px solid rgb(255, 71, 71) !important;
    /* border: 2px solid rgb(250, 250, 250) !important; */
    padding: 24px 8px 10px !important;
  }

  .signupInputLabel,
  .loginInputLabel {
    color: rgb(126, 126, 126);
    visibility: hidden;
    position: absolute;
    left: 10px;
    top: 7px;
    font-size: 14px;
  }

  /* Button */
  #signupBtn,
  #loginBtn, #landingPage a, #gLogin {
    width: 100%;
    background-color: #fdfcfd;
    color: #4C4B4B;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 20px;
    border: none;
    border-radius: 35px;
    margin: 30px 0;
    /* box-shadow: 3px 3px 13px #6d6c6c94; */
  }

  #signupBtn:disabled,
  #loginBtn:disabled {
    background-color: rgba(255, 255, 255, 0.349);
    color: rgba(0, 0, 0, 0.185);
  }

  /* Add new icon */
  .addNewIcon {
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    z-index: 1;
  }

  .addNewIcon:hover {
    cursor: pointer;
    color: black;
  }

  /*Landing page*/
  #landingPage {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-image: url("/images/bgLandingMobile.png");
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #landingPage a{
    text-decoration: none ;
    width: 220px;
    padding: 19px 15px;
    margin-top: 15px;
    text-align: center;
    box-sizing: border-box;
  }

  /* Login Style */
  #loginCont {
    background-color: rgb(102, 94, 121);
  }
  #loginSignupLink, #signupLoginLink {
    font-size: 0.9rem;
  }
  #loginSignupLink a, #signupLoginLink a {
    font-weight: 600;
    text-decoration: none;
  }

  #gLogin {
    text-align: center;
    position: relative;
    background-color: rgb(43, 43, 43);
  }

  #gLogin i {
    position: absolute;
    left: 18px;
    font-size: 1.2rem;
    top: 13px;
    color: white;
  }

  #gLogin a {
    color: white;
    text-decoration: none;
  }

  /* Home page style */
  #homeCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #pictureDiv {
    height: 120px;
    width: 100%;
    background-color: rgb(80, 80, 80);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  /* Navbar style */
  #navBar {
    border-top: 1px solid rgb(201, 201, 201);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    z-index: 1;
  }

  #navBar > .divIconEl {
    height: 55px;
    width: 55px;
    box-sizing: border-box;
    text-align: center;
    line-height: 52px;
  }

  #navBar > .divIconEl svg {
    height: 35px;
    width: 35px;
    /* box-sizing: border-box; */
    color: black;
  }
  #navBar > .divIconEl svg:hover {
    height: 42px;
    width: 42px;
  }

  #navBar > .divIconEl a {
    color: black;
  }

  /* Signup style */
  #signupCont {
    /* background-color: rgb(138, 144, 153);
    background-color: rgb(123, 157, 173); 
    background-color: rgb(153, 181, 198); */
    background-color: rgb(107, 142, 154);
  }

  .inputDiv input {
    background-color: rgba(255, 255, 255, 0.349);
    border: 2px solid transparent;
  }

  .inputDiv input:focus {
    background-color: rgba(255, 255, 255, 0.349);
    border: 2px solid white;
  }

  ::placeholder {
    color: white;
  }

  #setupPassSpan {
    color: white;
    font-size: 0.9rem;
    font-weight: 900;
  }

  /* Sidebar style */
  #sideBar {
    display: none;
  }

  /* Add new item style */
  #newItemForm {
    margin-top: 90px;
    margin-bottom: 50px;
  }
  #extraPropOptions {
    display: none;
  }

  .chevronDiv h4 {
    margin: 22px 0;
  }

  #noCollections a {
    margin-top: 30px;
  }

  /* Items empty style */
  #itemsCont,
  #collectionView {
    padding: 0 30px;
    width: 100%;
  }

  #emptyItems, #noCollections {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #emptyItems div {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  #emptyItems h5 {
    color: rgb(19, 19, 19);
    font-weight: 100;
  }

  #emptyItems a {
    margin-left: 20px;
  }

  /* Items view style (not-empty) */
  .itemCardProt {
    position: relative;
    box-shadow: 3px 3px 8px #9e9e9e94;
    display: flex;
    align-items: flex-start;
    border-radius: 10px;
    margin: 30px 0;
  }

  .collectionCardProt,
  #collectionCardQ,
  #itemCardQ {
    box-shadow: 3px 3px 8px #9e9e9e94;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 30px 0;
    padding: 10px 0;
  }

  .collectionCardProt h5,
  #collectionCardQ h5,
  #itemCardQ h5 {
    margin-top: 25px;
  }
  
  .itemCardProt h5 {
    margin-top: 25px;
  }

  .itemCardProt img {
    width: 140px;
    height: 140px;
    padding: 15px;
    margin-right: 20px;
  }

  .collectionCardProt img {
    width: 180px;
    height: 180px;
    padding: 15px;
    margin-right: 20px;
  }

  .itemCardProt p,
  .collectionCardProt,
  #collectionCardQ,
  #itemCardQ {
    margin-bottom: 10px;
    color: gray;
  }

  .itemCardProt a {
    color: black;
    font-weight: 900;
  }

  .newIconNotEmpty {
    border: 2px solid black;
    color: black;
    position: fixed;
    bottom: 90px;
    right: 40px;
    background: rgb(255, 255, 255);
  }

  #itemsCont > #pictureDiv,
  #collectionDetailsCont > #pictureDiv {
    text-align: center;
    line-height: 100px;
    border-bottom: 1px solid rgb(226, 226, 226);
    background-color: white;
    color: white;
  }

  #mobileViewer {
    height: 100%;
    margin-top: 150px;
  }

  #viewer {
    /* height: 100%;
    margin-top: 150px; */
    display: none;
  }

  #listViewer {
    display: none;
  }

  .itemCardProt .btn {
    margin-top: 10px;
  }

  itemsCont article {
    display: none;
  }

  /* Items details style */
  #itemDetailsCont > img,
  #collectionDetailsCont > img {
    height: 180px;
    width: 180px;
    margin: 45px auto 30px;
    padding: 20px 0;
    display: block;
    box-sizing: content-box;
  }

  #userProfile > img,
  #userProfileEdit > img,
  #userEdit > img {
    height: 200px;
    width: 215px;
    margin: 45px auto 30px;
    padding: 20px 0;
    display: block;
    box-sizing: content-box;
  }

  #itemDetailsCont h2,
  #collectionDetailsCont h2,
  #userProfile h1,
  #userProfileEdit h2 {
    margin-left: 10px;
  }

  #itemDetailsCont h6,
  #userProfile h2,
  #userPasswordEdit h2{
    margin-left: 25px;
    color: rgb(92, 92, 92);
  }


  #collectionDetailsCont .btn,
  #itemDetailsCont .bi-pencil-square,
  #userProfile .bi-pencil-square,
  #collectionDetailsCont .bi-pencil-square {
    position: absolute;
    right: 40px;
    top: 312px;
    color: black;
    font-size: 1.5rem;
  }

  .bi-arrow-right {
    font-size: 1.3rem;
    position: absolute;
    bottom: 14px;
    right: 37px;
  }
  
  /* Items edit view */
  #editItemForm,
  #userProfileEdit,
  #userPasswordEdit {
    margin-top: 100px;
    position: relative;
  }

  #updateOrCancelEdit a {
    padding-left: 32px;
    padding-right: 32px;
  }

  #updateOrCancelEdit {
    display: flex;
    justify-content: space-around;
    margin: 35px 25px;
  }

  #editItemForm section,
  #editCollectionForm,
  #userProfileEdit section {
    display: flex;
    justify-content: space-between;
  }

  #editItemForm h3 {
    margin: 80px 0 20px;
  }

  .bi-chevron-left {
    position: fixed;
    height: 40px;
    width: 40px;
    top: 18px;
    left: 30px;
    color: black;
    font-size: 1.8rem;
    z-index: 1;
    /* background-color: rgb(177, 38, 38); */
  }

  .chevronDiv {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    width: 100%;
    height: 62px;
    text-align: center;
    z-index: 1;
  }

  #deleteBin {
    position: absolute;
    right: 45px;
    top: 0px;
    background-color: rgb(255, 255, 255);
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    border: none;
  }

  #editItemForm img,
  #userProfileEdit img,
  #editCollectionForm img {
    height: 112px;
    width: 112px;
    margin: 0 20px 15px 0;
    box-shadow: 3px 3px 8px #9e9e9e94;
    border-radius: 10px;
    padding: 6px;
  }

  #itemImageUpload {
    display: none;
  }

  #itemImageUploadBtn {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 28px;
    left: 55px;
    padding: 15px;
    background-color: rgba(228, 228, 228, 0.767);
    border-radius: 50px;
  }

  #itemImageUploadBtn:hover {
    background-color: rgba(255, 255, 255, 0.712);
  }

  .containerHidden {
    display: none;
  }

  /*new collection style*/
  #newItemContainer {
    display: none;
  }

  #newCollectionForm {
    margin-top: 90px !important;
    margin-bottom: 180px !important;
  }

  /* form [action="/add-new-item"] {
    margin-bottom: 200px;
  } */

  .collectionCardProt {
    position: relative;
  }
}


@media (min-width: 1024px) {
  /* Common containers style */
  #signupCont,
  #loginCont,
  #itemsCont,
  #homeCont,
  #newItemForm,
  #itemDetailsCont, 
  #editItemForm,
  #collectionView,
  #userProfile,
  #userProfileEdit,
  #newCollectionForm,
  #editCollectionForm,
  #collectionDetailsCont,
  #userPasswordEdit {
    margin-left: 75px;
  }

  #signupCont,
  #loginCont {
    width: 600px;
    height: 100vh;
  }

  /* Error Message Alert setup */
  .errorMessageCont {
    padding: 20px 70px 20px 120px;
  }

  .errorMessageCont h5 {
    font-size: 17px;
  }

  .errorMessageCont p {
    font-size: 15px;
  }

  .errorMessageCont span:first-child {
    width: 47px;
    height: 47px;
    font-size: 30px;
    line-height: 47px;
    left: 35px;
  }

  .errorMessageCont a {
    right: 35px;
  }

  /* Login Style */
  #loginSignupLink, #signupLoginLink {
    font-size: 1rem;
  }

  /*landingpage style*/
  #landingPage {
    padding: 0px;
    width: 100vw;
    background-image: url("/images/bgLandingdesk.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #landingPage a{
    width: 600px;
    padding: 30px 0px;
    font-size: 45px;
    margin-top: 40px;
    border-radius: 70px;
  }

  /* Add new icon style */
  .addNewIcon {
    bottom: 30px;
  }

  #newItemForm section {
    display: flex;
    justify-content: space-between;
  }

  .chevronDiv h4 {
    margin: 30px 0;
  }

  #newItemForm input[name="itemImage"] {
    width: 260px;
  }

  #newItemForm input[name="itemName"] {
    width: 325px;
  }

  /* Home page style */
  #pictureDiv {
    height: 170px;
  }

  #homeCont > div:nth-child(2) h5 {
    font-size: 27px;
  }

  #homeCont > div:nth-child(2) a {
    margin-left: 30px;
  }

  /* Sidebar style */
  #navBar {
    display: none;
  }

  #sideBar {
    border-right: 1px solid rgb(182, 182, 182);
    background-color: rgb(0, 0, 0);
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 75px;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
  }

  #sideBar svg {
    height: 35px;
    width: 35px;
    /* box-sizing: border-box; */
    color: rgb(255, 255, 255);

    background-color: transparent;
    box-sizing: content-box;
    padding: 12px;
    margin: 5px 0;
    border-radius: 8px;
  }
  #sideBar svg:hover {
    background-color: rgba(255, 255, 255, 0.349);
    box-sizing: content-box;
  }

  /* Item edit style */
  #itemImageUploadBtn {
    left: 423px;
    top: 47px;
  }

  #deleteBin {
    right: 400px;
  }

  #editItemForm img {
    height: 150px;
    width: 150px;
  }

  /* Chevron style */
  .bi-chevron-left {
    top: 20px;
    left: 110px;
  }

  /* Items view style */
  #viewer {
    margin: 0px;
    padding: 190px 20px 90px;
    display: flex;
    flex-wrap: wrap;
  }

  itemsCont article {
    display: block;
    border: 1px solid black;
  }

  .bi-list-ul, .bi-grid-fill {
    color: black;
    font-size: 28px;
    position: fixed;
    top: 110px;
    right: 210px;
    z-index: 1;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 4px;
    border-radius: 3px;
  }

  .bi-list-ul:hover, .bi-grid-fill:hover {
    cursor: pointer;
  }

  .bi-grid-fill {
    right: 160px;
    font-size: 20px;
    padding: 8px 0;
  }

  .selectedView {
    background-color: black;
    color: white;
  }

  .notSelectedView {
    background-color: white;
    color: black;
  }
  #mobileViewer {
    display: none;
  }

  #listViewer {
    display: none;
    padding: 210px 80px 90px 40px;
  }

  #listViewer img {
    height: 70px;
    width: 70px;
    border-radius: 5px;
    margin-right: 20px;
  }

  #eachItemRow {
    line-height: 60px;
    position: relative;
  }

  /* Item card style */
  .itemCardProt {
    padding: 0;
    margin: 20px 30px;
    width: 340px;
  }


  /* Item details style */
  #itemDetailsCont .bi-pencil-square {
    top: 317px;
    right: 390px;
  }

  /* Multiple views desktop main section */
  #newItemForm,
  #itemDetailsCont,
  #editItemForm {
    padding: 0 380px; 
  }

  /* General add style */
  .dropdown-menu {
    box-shadow: 3px 3px 8px #9e9e9e94;
    border: none;
    margin-left: 15px !important;
    font-size: 1.2rem;
    background-color: rgba(22, 22, 22, 0.952);
  }

  .dropdown-menu a {
    margin: 10px 0;
    color: white;
  }

  .dropdown-menu a:hover {
    background-color: rgba(224, 224, 224, 0.308);
    color: white;
  }

  .collectionCardProt {
    width: 500px;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  #collectionViewer {
    display: flex;
    flex-wrap: wrap;
    padding: 190px 20px 90px 50px;
  }

  /* Collection style */
  #collectionDetailItemsView {
    padding: 40px 50px;
    display: flex;
    flex-wrap: wrap;
  }

  /* Collection details */
  #collectionDetailsCont .bi-pencil-square {
    top: 317px;
    right: 50px;
  }
}