/*
Colors:
white: #FEFEFF
letter-grey: #4C4B4B
*/

body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#genContainer {
  padding: 0px;
  display: flex;
  justify-content: center;
}

/* Mobile style */
@media (min-width: 280px) {
  /* Signup Style */
  #signupCont,
  #loginCont {
    width: 100%;
    height: 100vh;
    padding: 0 40px;
  }
  #signupCont h3,
  #loginCont h3 {
    font-weight: 900;
    margin: 40px 0;
  }

  /* Error Messages Alert Style */
  .errorMessageCont {
    height: 90px;
    margin: 15px 0 40px;
    position: relative;
    box-sizing: border-box;
    padding: 10px 30px 10px 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 3px 8px #9e9e9e94;
  }

  .errorMessageCont h5 {
    font-size: 15px;
    margin: 0;
    font-weight: 600;
    color: rgb(10, 10, 10);
  }

  .errorMessageCont p {
    font-size: 13px;
    font-weight: 100;
    color: rgb(85, 85, 85);
    margin: 0;
  }

  .errorMessageCont span:first-child {
    background-color: rgb(255, 71, 71);
    color: white;

    text-align: center;
    line-height: 27px;
    font-size: 23px;
    font-weight: 900;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 7px;

    height: 27px;
    width: 27px;
    border-radius: 50%;
  }

  .errorMessageCont a {
    color: black;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 15px;
    font-size: 18px;
    font-weight: 900;
  }



  /* Input Style */
  input:-webkit-autofill {
    -webkit-text-fill-color: black;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: black;
  }

  ::placeholder {
    color: rgb(163, 163, 163);
    font-weight: 200;
  }

  .inputDiv {
    position: relative;
    padding: 0;
    margin: 25px 0;
  }

  .inputDiv input {
    width: 100%;
    height: 60px;
    padding: 18px 10px;
    margin: 0;

    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;

    font-size: 1rem;
    font-weight: 600;
    color: black;
  }

  .inputDiv input:focus {
    outline: none !important;
  }

  .fillingOut {
    border: 1px solid rgb(68, 68, 68);
    padding: 25px 9px 11px !important;
  }

  .fillingOut:focus {
    border: 2px solid rgb(173, 74, 152);
    padding: 24px 8px 10px;
  }

  .emptyField {
    border: 2px solid rgb(255, 71, 71) !important;
    padding: 24px 8px 10px !important;
  }

  .signupInputLabel,
  .loginInputLabel {
    color: rgb(126, 126, 126);
    visibility: hidden;
    position: absolute;
    left: 10px;
    top: 7px;
    font-size: 14px;
  }

  /* Button */
  
  #signupBtn,
  #loginBtn, #landingPage a {
    width: 100%;
    background-color: #fdfcfd;
    color: #4C4B4B;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 20px;
    border: none;
    border-radius: 35px;
    margin: 25px 0;
    box-shadow: 3px 3px 13px #6d6c6c94;
  }

  #signupBtn:disabled,
  #loginBtn:disabled {
    background-color: rgba(173, 74, 151, 0.342);
  }

  /*Landing page*/
  #landingPage {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-image: url("/images/bgLandingMobile.png");
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #landingPage a{
    text-decoration: none ;
    width: 220px;
    padding: 19px 15px;
    margin-top: 15px;
    text-align: center;
    box-sizing: border-box;
  }

  /* Login Style */
  #loginSignupLink, #signupLoginLink {
    font-size: 0.9rem;
  }
  #loginSignupLink a, #signupLoginLink a {
    font-weight: 600;
    text-decoration: none;
    color: rgb(173, 74, 152);
  }
}



@media (min-width: 1024px) {
  #signupCont,
  #loginCont {
    width: 600px;
    height: 100vh;
  }

  /* Error Message Alert setup */
  .errorMessageCont {
    padding: 20px 70px 20px 120px;
  }

  .errorMessageCont h5 {
    font-size: 17px;
  }

  .errorMessageCont p {
    font-size: 15px;
  }

  .errorMessageCont span:first-child {
    width: 47px;
    height: 47px;
    font-size: 30px;
    line-height: 47px;
    left: 35px;
  }

  .errorMessageCont a {
    right: 35px;
  }

  /* Login Style */
  #loginSignupLink, #signupLoginLink {
    font-size: 1rem;
  }

  /*landingpage style*/
  #landingPage {
    padding: 0px;
    width: 100vw;
    background-image: url("/images/bgLandingdesk.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #landingPage a{
    width: 600px;
    padding: 30px 0px;
    font-size: 45px;
    margin-top: 40px;
    border-radius: 70px;
  }
}