<div id="forgotPassFullCont">
  <div id="forgotPasscont">
  <h2>Forgot your password?<h2>
    <div>
      <form action="/forgotPassword" method="POST">
      <div class="row mb-3">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" id="email" name="email" class="form-control" id="colFormLabel" placeholder="">
      </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>  
      </form>
      {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
      {{/if}}
    </div>
  </div>
</div>
