<h1>Forgot your password?/<h1>
  <div>
<form action="/forgotPassword" method="POST">
  <label for="">Email</label>
  <input type="email" name="email" id="email">
  <button type="submit">Submit</button>
</form>

{{!-- {{#if errorMessage}}
<p class="error">{{errorMessage}}</p>
{{/if}} --}}
</div>