<div id="messageCont">
    <div id="message">
        <h1>An Email has been sent, please check your inbox</h1>
        <h2>Email</h2>
        <div class="mb-3">
            {{email}}
        </div>
    </div>
</div>
