<h1>Reset your password/h1>
<div>
<form action="/sendMail/resetPassword" method="post">
    <div class="mb-3 mt-5">
        <span id="newPassword">New Password</span>
        <input id="newPasswordInput" type="password" name="newPassword">
    </div>
    <span id="newPassErrMess"></span>
    <div class="mb-3 mt-5">
        <span id="confirmPassword">Confirm Password</span>
        <input id="confirmPasswordInput" class="" type="password" name="confirmPassword">
    </div>
    <span id="confirmPassErrMess"></span>
        <div id="updateOrCancelEdit">
            <a class="btn btn-outline-dark" href="/user-profile" role="button">Cancel</a>
            <button type="submit" class="btn btn-dark">Update Password</button>
        </div>
</form>

{{#if errorMessage}}
<p class="error">{{errorMessage}}</p>
{{/if}}
</div>